#cityHist {
    margin-top: 1em;
    padding: 1em;
}

.histEl {
    margin-bottom: 1em;
}

.custom-card {
    min-width: 140px;
}

#asideCont {
    min-width: fit-content;
} 

#currentCity {
    min-width: 210px;
}

#cityDateEl {
    font-size: x-large;
    font-weight: bolder;
}

#head5Day {
    margin-top: 1em;
    min-width: 210px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large;
}
.carEl {
    margin: 1px;
}
main {
    border-top: black;
}

#headLine {
    font-size: 50px;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#search {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    min-width: fit-content;
    margin-bottom: 1em;
    border-bottom: solid rgb(118, 118, 118) 1px;
    background: radial-gradient(circle, rgba(82,73,255,1) 11%, rgba(86,102,240,1) 38%, rgba(0,212,255,1) 85%);
}